.news {
    display: flex;
    justify-content: space-between;
    margin-bottom: 53px;
}
.news__item {
    height: 397px;
    margin-right: 2%;
    flex: 1;
}
.single-news{
    position: relative;
    overflow: hidden;
}

.news__item:last-child {
    margin-right: 0;
}

.section__news {
    margin-bottom: 127px;
}
.single-news__cover {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.single-news__text-content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15px 31px;
    min-height: 158px;
}
.single-news__date {
    font-size: 14px;
    display: block;
    margin-bottom: 12.5px;
}

.single-news__title {
    font-size: 24px;
    line-height: 36px;
    font-weight: bold;
    margin-bottom: 3.5px;
}

